body{   background:linear-gradient(to left,yellow,lightyellow)}
h1{ color: orangered;
    text-align: left;
    font-family: cursive;
    font-size: 30px;
    font-style:italic;
    font-weight:bold;
    text-decoration: none;
    background-color: lightyellow;}
h2{ color: darkorange;
    text-align: left;
    font-family: cursive;
    font-size: 20px;
    text-decoration: none;
    background-color: lightgoldenrodyellow;}
h3{ color: orange;
    text-align: left;
    font-family: cursive;
    font-size: 15px;
    text-decoration: none;
    background-color: lightsalmon;}
p { color: coral;
    text-align: left;
    font-family: cursive;
    font-size: 12px;
    letter-spacing: 1px;}
ul{ list-style: circle; 
    color:indianred;
    list-style-position:inherit;}
a { text-decoration:underline;
    color:mediumvioletred;}
div{border: 1px solid red;
    border-style:dashed;
    border-width: 1px;}